:root {
    --bg: #05070a;
    --accent: #00f2ff;
    --card: #0f1218;
}

body, html {
    margin: 0; padding: 0;
    background-color: var(--bg);
    color: white; font-family: sans-serif;
    overflow: hidden; /* Evita rolagens estranhas entre telas */
}

.screen {
    display: none; /* Todas começam escondidas */
    width: 100vw; height: 100vh;
    justify-content: center; align-items: center;
    position: absolute; top: 0; left: 0;
}

.screen.active {
    display: flex; /* Apenas a ativa aparece */
}

/* Estilo da Área de Trabalho */
.dashboard {
    display: flex; width: 95%; height: 90%;
    background: var(--card); border: 1px solid #222;
}

.sidebar { width: 250px; border-right: 1px solid #333; padding: 20px; }
.main-panel { flex: 1; padding: 40px; overflow-y: auto; text-align: left; }

.info-card { background: #161b22; padding: 20px; margin-bottom: 15px; border-left: 4px solid var(--accent); }
.neon { color: var(--accent); text-shadow: 0 0 10px var(--accent); }
.hidden { display: none !important; }

/* Grid de Esportes */
.sports-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 10px; margin: 20px 0; }
.card { background: #1a1e26; padding: 20px; border: 1px solid #333; cursor: pointer; border-radius: 8px; }
.card:hover { border-color: var(--accent); }
.selected { opacity: 0.3; pointer-events: none; }
