* { box-sizing: border-box; font-family: 'Courier New', Courier, monospace; }
body { margin: 0; background: #050505; color: #fff; overflow: hidden; height: 100vh; display: flex; justify-content: center; align-items: center; }

.grid-bg { position: fixed; width: 100%; height: 100%; background: linear-gradient(rgba(0, 255, 255, 0.05) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 255, 255, 0.05) 1px, transparent 1px); background-size: 40px 40px; z-index: -1; }

.tela { display: none; width: 100%; height: 100%; justify-content: center; align-items: center; position: absolute; }
.ativa { display: flex; }
.hidden { display: none !important; }

.box-neon { background: #000; border: 2px solid #00f2ff; padding: 40px; box-shadow: 0 0 20px #00f2ff; text-align: center; width: 380px; }
.larga { width: 700px; }
.texto-neon { color: #00f2ff; text-shadow: 0 0 10px #00f2ff; }

input { width: 100%; padding: 10px; margin: 10px 0; background: #111; border: 1px solid #00f2ff; color: #00f2ff; outline: none; }
button { background: #000; color: #00f2ff; border: 1px solid #00f2ff; padding: 10px 20px; cursor: pointer; transition: 0.3s; margin: 5px; }
button:hover, .btn-neon { background: #00f2ff; color: #000; box-shadow: 0 0 15px #00f2ff; }

.grid-esportes { display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px; margin: 20px 0; }
.card-esporte { border: 1px solid #555; padding: 20px; cursor: pointer; }
.card-esporte.selecionado { border-color: #00f2ff; background: rgba(0, 242, 255, 0.1); }

.workspace { display: flex; width: 95%; height: 90%; border: 1px solid #00f2ff; background: #000; }
.sidebar { width: 220px; border-right: 1px solid #00f2ff; padding: 20px; display: flex; flex-direction: column; }
.principal { flex: 1; padding: 30px; overflow-y: auto; text-align: left; }

.info-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 20px; margin-top: 20px; }
.item { border: 1px solid #333; padding: 15px; background: rgba(255,255,255,0.05); }
.box-time { margin-top: 20px; padding: 20px; border: 1px solid #00f2ff; background: rgba(0,242,255,0.05); }
