* { box-sizing: border-box; font-family: 'Courier New', monospace; }
body { margin: 0; background: #000; color: #fff; height: 100vh; display: flex; justify-content: center; align-items: center; overflow: hidden; }

.grid-bg { position: fixed; width: 100%; height: 100%; background: linear-gradient(rgba(0, 255, 255, 0.03) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 255, 255, 0.03) 1px, transparent 1px); background-size: 35px 35px; z-index: -1; }

/* NAVEGAÇÃO ENTRE TELAS */
.screen { display: none; width: 100%; height: 100%; justify-content: center; align-items: center; }
.active { display: flex !important; }
.hidden { display: none !important; }

.neon-box { background: #000; border: 2px solid #00f2ff; padding: 40px; box-shadow: 0 0 25px rgba(0, 242, 255, 0.4); text-align: center; width: 400px; }
.wide { width: 750px; }
.neon-txt { color: #00f2ff; text-shadow: 0 0 8px #00f2ff; text-transform: uppercase; }

input { width: 100%; padding: 12px; margin: 10px 0; background: #111; border: 1px solid #00f2ff; color: #00f2ff; outline: none; }
button { background: transparent; color: #00f2ff; border: 1px solid #00f2ff; padding: 12px; cursor: pointer; transition: 0.3s; margin: 5px; }
button:hover, .btn-glow { background: #00f2ff; color: #000; box-shadow: 0 0 20px #00f2ff; font-weight: bold; }

.sports-grid { display: grid; grid-template-columns: repeat(3, 1fr); gap: 15px; margin: 30px 0; }
.sport-card { border: 1px solid #444; padding: 25px; cursor: pointer; transition: 0.2s; }
.sport-card:hover, .sport-card.selected { border-color: #00f2ff; background: rgba(0, 242, 255, 0.1); }

.main-container { display: flex; width: 96%; height: 92%; border: 1px solid #00f2ff; background: #000; }
.nav-lateral { width: 220px; border-right: 1px solid #00f2ff; padding: 25px; }
.content-area { flex: 1; padding: 40px; overflow-y: auto; text-align: left; }

.data-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 20px; margin: 25px 0; }
.data-item { background: rgba(255,255,255,0.03); padding: 20px; border-left: 4px solid #00f2ff; }
.result-box { margin-top: 30px; padding: 25px; border: 1px solid #00f2ff; background: rgba(0, 242, 255, 0.05); }
